{% extends 'service/base.html' %}
{% load static %}
{% block content %}
<div class="row">
    {% for object in object_list %}
    <div class="col-md-4">
        <div class="card mb-4 box-shadow">
            <div class="card-body">
                <p class="card-text">{{ object.data_time }}</p>
                <p class="card-text">{{ object.status }}</p>
                <p class="card-text">{{ object.answer }}</p>
                <p class="card-text">{{ object.message.title }}</p>
            </div>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}