{% extends 'service/base.html' %}
{% load static %}

{% block content %}
<div class="col-12">
    <div class="row">
        <div class="col-6">
            <div class="card">
                <div class="card-header">
                    <h3 class="card-title">
                        Информация о рассылке {{ object.name }}
                    </h3>
                </div>
                <div class="card-body">
                    <table class="table table-bordered">
                        <tbody>
                        <tr>
                            <td>Время рассылки</td>
                            <td>{{ object.time }}</td>
                        </tr>
                        <tr>
                            <td>Периодичность</td>
                            <td>{{ object.frequency }}</td>
                        </tr>
                        <tr>
                            <td>Статус</td>
                            <td>{{ object.status }}</td>
                        </tr>
                        <tr>
                            <td>Тема сообщения</td>
                            <td>{{ object.message.title }}</td>
                        </tr>
                        <tr>
                            <td>Текст сообщения</td>
                            <td>{{ object.message.text }}</td>
                        </tr>
                        <tr>
                            <td>Список клиентов</td>
                            <td>{{ object.client.name }}</td>
                        </tr>
                        </tbody>
                    </table>
                    <p>
                        {{ object.body }}
                    </p>
                </div>
                <div class="card-footer">
                    <a href="{% url 'service:mailing' %}" class="btn btn-sm btn-outline-success">назад</a>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}