{% extends 'service/base.html' %}
{% load static %}
{% block content %}
<div class="row">
    <div class="col-12 mb-5">
        <a href="{% url 'blog:article_create' %}" class="btn btn-primary">добавить статью</a>
    </div>
    {% for object in object_list %}
    <div class="col-md-4">
        <div class="card mb-4 box-shadow">
            <div class="card-body">
                <p class="card-text">заголовок: {{ object.title | title }}</p>
                <p class="card-text">содержание: {{ object.content | slice:":100" }}</p>
                <p class="card-text">количество просмотров: {{ object.quantity }}</p>
                <div class="d-flex justify-content-between align-items-center">
                    <div class="btn-groop">
                        {% if user.is_superuser %}
                        <a href="{% url 'blog:article_update' object.pk %}"
                           class="btn btn-sm btn-outline-warning">редактирование</a>
                        {% endif %}
                        <a href="{% url 'blog:article_edit' object.pk %}"
                           class="btn btn-sm btn-outline-success">просмотр</a>
                        {% if user.is_superuser %}
                        <a href="{% url 'blog:article_delete' object.pk %}"
                           class="btn btn-sm btn-outline-danger">удаление</a>
                        {% endif %}
                    </div>
                </div><br>
                <div class="d-flex justify-content-between align-items-center">
                    <div class="btn-groop">
                         {% if user.is_superuser %}
                         {% if object.sign %}
                         <a href="{% url 'blog:toggle_activity' object.pk %}"
                           class="btn btn-sm btn-outline-warning">Установить признак публикации "неактивна"</a>
                         {% else %}
                         <a href="{% url 'blog:toggle_activity' object.pk %}"
                           class="btn btn-sm btn-outline-success">Установить признак публикации "активна"</a>
                         {% endif %}
                         {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}